@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Bebas+Neue&family=Fredoka&family=Lato&display=swap');


body {
    font: normal normal 1em Arial, sans-serif;
}

main {
    margin-left: 10px;
}

ul {
    margin-left: 10px;
}

p {
    font-size: 1.1em;
    font-family: 'Fredoka', sans-serif;
    width: 450px;
    text-align: justify;
    text-indent: 30px;
    line-height: 23px;
}

ul {
    font-size: 1.1em;
    font-family: 'Fredoka', sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #5C8A73;
}

a:hover {
    color: #40574B;
}